{% extends 'base.html' %}

{% block title %}
<title>Add Book</title>
{% endblock %}

{% block main %}
    <form method="POST" class="container p-5 mt-5 bg-dark border border-light" enctype="multipart/form-data" data-bs-theme="dark"> {% csrf_token %}
        <h1 class="text-white">Add New Book</h1>
        <input class="form-control my-1 gap-2" type="text" name="name" placeholder="Name">
        <select class="form-control my-1" name="genre" id="">
            <option value="">Select a genre</option>
            {% for genre in genres %}
            <option value="{{genre.id}}">{{ genre.name }}</option>
            {% endfor %}
        </select>
        <input class="form-control my-1" type="file" name="image" placeholder="Image">
        <input class="form-control my-1" type="text" name="pages_number" placeholder="Number of pages">
        <input class="form-control my-1" type="text" name="quantity" placeholder="Quantity in stock">
        <button type="submit" class="btn btn-success mt-2 btn-lg flex-end">Add Book</button>
    </form>
{% endblock %}